*swp
*.backup
.directory
*.diff
*.o
*.sh
XMBF
XMBF_mpi
XMBF_mpack_qd

MBF_to_XMBF/*.o
MBF_to_XMBF/MBF_to_XMBF
XMBF_results_to_startvals_and_priors/*.o
XMBF_results_to_startvals_and_priors/XMBF_results_to_startvals_and_priors
XMBF_results_to_startvals/*.o
XMBF_results_to_startvals/XMBF_results_to_startvals

new
new/*

XMBF_results_to_startvals_priors_and_priorwidths
XMBF_results_to_startvals_priors_and_priorwidths/*
XMBF_multiply_priorwidths_groundstate
XMBF_multiply_priorwidths_groundstate/*
XMBF_results_to_startvals_priors_and_priorwidths_A3pt
XMBF_results_to_startvals_priors_and_priorwidths_A3pt/*
XMBF_results_to_startvals_priors_and_priorwidths_groundstate
XMBF_results_to_startvals_priors_and_priorwidths_groundstate/*
